/* Genel Stil */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h2 {
    text-align: center;
    color: #ff6f61;
    font-size: 2.5rem;
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    animation: fadeIn 1s ease-out;
  }
  
  /* Form Stil */
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  form:hover {
    transform: scale(1.02);
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #333;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 93%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #ff6f61;
    outline: none;
  }
  
  /* Buton */
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ff6f61;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #e65d4f;
    transform: translateY(-3px);
  }
  
  button[type="submit"]:active {
    transform: translateY(0);
  }
  
  /* Hata Mesajı */
  p {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  /* Animasyon */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  